.text-horizontally {
    text-align: center;
}

.block-center {
    width: 200px;
    margin: 0 auto;
    height: 50px;
    background-color: rgba(215, 215, 215, 0.77);
}

.block-center-vertically {
    height: 1.3em;
    margin: auto 0;
    background-color: rgba(215, 215, 215, 0.77);
}


.flex-horizontally {
    display: flex;
    justify-content: center;
}

.flex-horizontally div {
    width: 200px;
    background-color: rgba(215, 215, 215, 0.77);
}


.vertical-align-parent {
    font-size: 1.8rem;
}
.vertical-align-parent span {
    font-size: 0.8rem;
    vertical-align: middle;
    padding-inline: 0.3rem;
}

.flex-vertically {
    height: 200px;
    display: flex;
    align-items: center;
}

.flex-vertically div {
    background-color: rgba(215, 215, 215, 0.77);
}

